<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
</head>

<body>
  <h2>登录页面</h2> 
  用户名：
  <input type="text" ng-model="name"><br>
  密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:
  <input type="password" ng-model="password">
  <p>{{text2}}</p>
  <p>
  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aut officia doloribus, possimus, adipisci beatae quisquam eos saepe sunt consectetur laudantium earum itaque maiores corporis eius. Est, minima, velit! Illum.lorem2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aut officia doloribus, possimus, adipisci beatae quisquam eos saepe sunt consectetur laudantium earum itaque maiores corporis eius. Est, minima, velit! Illum.lorem2
  </p>
</body>

</html>
