<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
</head>

<body>
  <h2>注册页面</h2> 用户名：
  <input type="text" ng-model="username">
  <br> 密&nbsp;&nbsp;&nbsp;&nbsp;码：
  <input type="password" ng-model="password">
  <br>
  <input type="button" value="提交">
  <p>{{text1}}</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eos, harum a obcaecati nostrum quia numquam necessitatibus natus doloremque, non earum unde, quam, quis tempore dolor sint tenetur ab vitae!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eos, harum a obcaecati nostrum quia numquam necessitatibus natus doloremque, non earum unde, quam, quis tempore dolor sint tenetur ab vitae!sjhejexjed zjzhzhshh zreu
  </p>
</body>

</html>
